button {
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  opacity: 0.7;
  background-color: transparent;
}

.button__box {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.button__box > .btn::after {
  margin-top: 3px;
  border-radius: 1px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.button__box > .btn:hover::after {
  width: 100%;
}
